<% layout('layouts/boilerplate') -%>
<div class="row">
  <h1 class="text-center">New Stadium</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/stadiums"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="stadium[title]"
          required
        />
        <div class="invalid-feedback">Title cannot be blank.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="stadium[location]"
          required
        />
        <div class="invalid-feedback">Location must be specified.</div>
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Upload Images</label>
        <input type="file" class="form-control" id="formFileMultiple" name="image" multiple required>
        <div class="invalid-feedback">
          upload a picture..
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="capacity">Capacity</label>
        <input
          class="form-control"
          type="text"
          id="capacity"
          name="stadium[capacity]"
          required
        />
        <div class="invalid-feedback">Capacity cannot be blank.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="stadium[description]"
          required
        ></textarea>
        <div class="invalid-feedback">Description cannot be blank.</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">add new stadium</button>
      </div>
    </form>
    <div>
      <a href="/stadiums">All Stadiums</a>
    </div>
  </div>
</div>
